{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Personal Dictionary Home Page</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
            <div id="navBar">
                    <nav>
                        <a href="">Home</a> |
                        <a href="">Sets</a> |
                        <a href="">About</a>
                    </nav>
            </div>  

            {% block %}
            {% endblock %}
    </body>
</html>

