<!DOCTYPE html>
<html>
    <head>
        <title>Personal Dictionary Home Page</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <style>
            #aboutParagraph{
                box-sizing: content-box;
                width: 50%; 
                height:120%;
                font-size:20px; 
                text-align: center;
                border-radius: 5px;
            }
        </style>

        <div id="navBar">
            <nav>
                <a href="{% url 'Home' %}">Home</a> |
                <a href="{% url 'Sets' %}">Sets</a> |
                <a href="{% url 'About' %}">About</a>
            </nav>
        </div>  

        <h1 style="text-align:center"><strong></center>About</strong></h1>
        
        <center><div id="aboutParagraph">
            <h4>This web application is designed to act as a personal dictionary in order to facilitate learning new languages.
                <br> <br>Users can view different language sets and add terms and phrases to memorize vocabulary.
                <br> <br> Upcoming features: User registration and login, learning methods, better UX
                <br> <br> Contact: Mythri Challa -- mythrichalla@gmail.com
            </h4>
        </div></center>

        
    </body>
</html>