<!DOCTYPE html>
<html>
    <head>
        <title>Personal Dictionary Home Page</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <style>
                #setMenu{
                    display: inline-block;
                    width: 400px;
                    height: 50px;
                    border-radius: 50px;
                    line-height: 50px;
                    background-color: rgba(246, 224, 181);
                    color:rgb(75, 58, 69);
                    text-align:center;
                    margin: 15px;
                }
        </style>

        <div id="navBar">
            <nav>
                <a href="{% url 'Home' %}">Home</a> |
                <a href="{% url 'Sets' %}">Sets</a> |
                <a href="{% url 'About' %}">About</a>
            </nav>
        </div>  
        
        <h1 style="text-align:center">{{set_obj}}</h1>

        <div id="setMenu">
            <a href="{% url 'viewCompleteSet' set_obj.id %}">View Complete Set</a> |
            <a href="{% url 'editSet' set_obj.id %}">Edit Set</a> | 
            <a href="{% url 'createEntry' set_obj.id %}">Add Entry</a> |
            {% if entry_obj %} 
                <a href="{% url 'editEntry' entry_obj.id %}">Edit This Entry</a> 
            {% endif %}
        </div>
        
        <center><table style = "width: 50%">
            <tr>
                <th><h3>Term</h3></th>
                <th><h3>Definition</h3></th>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td><h4> {{entry.term}}</h4></td>
                    <td><h4> {{entry.definition}}</h4></td>
                </tr>
            {%endfor%}
        </table></center> 

    </body>
</html>